body {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Open Sans", sans-serif;
}

.savate-regular {
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
  font-weight: 540;
  font-style: normal;
}

.savate-bold {
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.savate-heavy {
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.edu-qld-hand {
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 640;
  font-style: normal;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
