---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | UlamPinoy</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <header>
      <nav>
        <!-- Add navigation here -->
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <!-- Add footer here -->
    </footer>
  </body>
</html>
